doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='css/style.css', rel='stylesheet')
    h1 Markov algorithm
    #container
        h1 Woops, it seems like you have a problem.
        h3= error
    script(src='js/main.js')

        